NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY="CLERK_SECRET_KEY"
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://jonaswar:JellyBean#28@localhost:3306/rental_cms'
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dz4pfj7ns"
STRIPE_API_KEY=sk_test_51LLZ7qLKwRbn34VyHhFj6KB48oJHL5CrLmD7h13TYhnnBhvGSlZicwBos8CLTagqpJtzFgrVITTSXkQXCNwqEAla00Qt5APThZ
NEXT_PUBLIC_FRONTEND_STORE_URL=http://localhost:3001
STRIPE_WEBHOOK_SECRET=whsec_7818c5a8f66666003ae934b85dd9529e675284299b87a76586398ac5a2e85c3d